<div style = "background-color: #eoeaed;">
	<h1>Recent Posts</h1>
	<div style="background-color: #fff; width: 400px; border: 2px solid #d3d6db; padding: 10px; word-break: break-all;">
		<p><%= @content %></p>
	</div><br>
	<a href="/wall/write">Write post again</a>
</div>
